* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: rgb(151, 151, 151);
}

.container {
  width: 100%;
  max-width: 1500px;
  height: 110px;
  margin: 0 auto;
  background-color: white;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav-options {
  display: flex;
  min-width: 300px;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  margin-right: 20px;
}

.main-phrase {
  text-align: center;
  margin: 40px;
  font-size: 1.5em;
}

.recommendation {
  display: flex;
  align-items: center;
  text-align: center;
}

.recommendation img {
  height: 350px;
  width: 250px;
  margin: 10px 20px;
  align-items: center;
  object-fit: cover;
}

.recipe {
  align-content: center;
  border: 10px #fff;
  background-color: white;
  border-radius: 5%;
  margin: 10px;
  padding: 15px;
}

@media (max-width: 600px) {
  .recommendation {
    flex-direction: column;
  }
  .recipe img {
    height: 50px;
    width: 100px;
    padding: 0;
    object-fit: cover;
    border: 0;
    margin: 1px;
  }

  .container {
    height: 5em;
    width: auto;
    display: flex;
    align-content: start;
  }

  .logo img {
    height: 5em;
    width: auto;
  }

  body {
    font-size: 5px;
  }
}
